* {
    margin: 0;
    padding: 0;
    border-style: none;
    list-style: none;
    text-underline: none;
    color: #0001;
}

body {
    color: black;
}

input {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    color: #0019;
}