/* RESET */
* {
    margin: 0;
    padding: 0;
    border-style: none;
    list-style: none;
    text-underline: none;
    color: #0001;
    font-size: 10px;

}

/* THEME */
:root {
    --font-family: 'Open-sans', sans-serif;
    --primary: #8e44ad;
    --dark: #34495e;
    --background-light: #ecf0f1;
    --text-color: #444;
    --text-light: #fff;
}

html, body {
    color: black;
    font-family: var(--font-family);
    background-color: var(--background-light);
}

/* GLOBAL */
input {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    color: #0019;
/* HEADER */
}
/* FOOTER */
/* CONTAINER */
/* CONTENT */
/* TASKS */